@model UserListModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="row mt-3">

    <div class="col-6">
        <h3>Hesap Eklenicek Kullancıların Bilgileri</h3>
        <p>
            Kullanıcını Adı: @Model.Name

        </p>
        <p>
            Kullanıcının SoyAdı: @Model.SurName
        </p>
        <p>
            Kullanıcının Aktif Hesap Sayısı <getAccountCount application-user-id="@Model.Id" ></getAccountCount>
        </p>
    </div>
    <div class="col-6">
        <form method="post" asp-action="Create" asp-controller="Account">
           <input type="hidden" name="ApplicationUserId" value="@Model.Id" />
            <div class="mb-3">
                <label class="form-label">Hesap Numarası:</label>
                <input type="number" name="AccountNumber" class="form-control" />
            </div>
            <div class="mb-3">
                <label class="form-label">Bakiye:</label>
                <input type="number" name="balance" class="form-control" />
            </div>
            <div class="mb-3">
                <button class="btn btn-primary">Kaydet</button>
            </div>

        </form>

    </div>


</div>