@model List<AccountListModel>
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">

    <div class="col-6">
        <h5 class="card-title">Kullanıcı Bilgileri</h5>
        <div class="card">

            <div class="card-body">

                <p class="card-text">Ad:@ViewBag.Fullname</p>
                <a asp-action="Index" asp-controller="Home" class="btn btn-primary">Kullanıcı Listesine Geri Dön</a>
            </div>
        </div>
    </div>
    <div class="col-6">
        <h5>Hesap Bilgileri</h5>
        @if (Model != null && Model.Count > 0)
        {
            foreach (var account in Model)
            {
                <div class="card">

                    <div class="card-body">
                        <h5 class="card-title">Hesap Numarası: @account.AccountNumber</h5>
                        <p class="card-text">Bakiye Bilgisi: @account.Balance </p>
                        <a asp-action="SendMoney" asp-controller="Account" asp-route-AccountId="@account.Id" class="btn btn-primary">Money Send</a>
                    </div>
                </div>

            }

        }
        else
        {
            <div class="alert alert-danger text-center" role="alert">
                <p class="lead">
                 Herhangi bie hesap bilginiz bulunmamaktadır.
                </p>
            </div>
        }


    </div>


</div>